* {
	padding:0;
	margin:0;
}
html {
	margin:0;
	background-image:url(../image/background.jpg);
	background-attachment:fixed;
	background-size:100%;
	background-repeat:repeat-x;
	max-width:80em;
}
@keyframes header {
	from{opacity: 0}
	to{opacity: 100}
}
#cg {
	animation: header 2s;
}
#navigation {
	background-position:bottom left;
	background-repeat:repeat-x;
	border-width:0.1em;
	border-style:solid;
	border-bottom-width:0;
	border-top-width:0;
	padding-left:10%;
}
#navigation ul{
	width:100%;
	overflow:hidden;
	border-left-width:0.1em;
	border-left-style:solid;
}
#navigation li{
	display:inline;
}
#navigation li a {
	display:block;
	float:left;
	padding:0.5em 7%;
	border-right:0.1em solid;
}
#content {
	border-width:0.1em;
	border-style:solid;
	border-top-width:0;
	padding:2em 10%;
	line-height:1.8em;
}
