* {
    padding:0;
    margin:0;
}
@keyframes myfirst {
    0% {opacity: 0}
    25% {opacity: 100}
    30% {opacity: 0}
    100% {opacity: 0}
}
@keyframes mysecond{
    0% {opacity: 0}
    30% {opacity: 0}
    50% {opacity: 100}
    65% {opacity: 0}
    100% {opacity: 0}
}
@keyframes mythird {
    0% {opacity: 0}
    65% {opacity: 0}
    75% {opacity: 100}
    80% {opacity: 0}
    100% {opacity: 0}
}
@keyframes myfourth{
    0% {opacity: 0}
    50% {opacity: 0}
    80% {opacity: 0}
    100% {opacity: 100}
}
p{
    font-size: 30px;
    color: aliceblue;
    position:absolute;
    top: 90%;
    text-align:center;
    width: 100%;
}
#first{
    animation: myfirst 22s ;
}
#second{
    animation: mysecond 22s ;
}
#third{
    animation: mythird 22s ;
}
#fourth{
    animation: myfourth 22s ;
}
html{
    margin:0;
    background-image:url(../image/jj.jpg);
    background-attachment:fixed;
    background-size:100%;
    background-repeat:repeat-x;
}